@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

template,
[hidden] {
  display: none;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: GianeGothic, sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 83.3333%;
}

sub,
sup {
  font-size: 83.3333%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  outline-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden][aria-hidden='false'] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden='false']:focus {
  clip: auto;
}

body {
  height: 100vh;
  background: url(../media/png/stars.png), radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
  background-position: center;
}

.home-view {
  width: 1090px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-view h1 {
  margin: 0;
  text-align: center;
  font-size: 6rem;
  color: #FE3B1F;
  font-family: 'Rowdies', cursive;
  margin: 10.3rem 0 6.5rem 0;
}

.home-view .nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-view .nav button {
  cursor: pointer;
}

.home-view .nav button:nth-child(1) {
  background-color: #FE3B1F;
  width: 24.6rem;
  height: 4.9rem;
  border-radius: 3.125rem;
  font-size: 1.5rem;
  line-height: 1.83rem;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.home-view .nav button:nth-child(2) {
  background-color: transparent;
  font-size: 24px;
  line-height: 1.83rem;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  border-bottom: #FFF solid 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin: 1.125rem 0;
}

.home-view img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 37.525%;
  min-width: 25.577rem;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.form-wrapper .form-display {
  width: 50%;
}

.form-wrapper .form-display h1 {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  line-height: 4.5rem;
  color: #FE3B1F;
  font-family: 'Rowdies', cursive;
  margin: 6.6rem 6.5rem;
}

.form-wrapper .form-display form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 455px;
  margin: 0 auto;
}

.form-wrapper .form-display form #exp {
  padding: 1rem 10.2rem 0.8rem 3.5rem;
}

.form-wrapper .form-display form .default-button {
  font-size: .75rem;
  line-height: .9rem;
  font-family: 'Montserrat', sans-serif;
  padding: .5rem .2rem;
  color: #FFF;
  background-color: #FE3B1F;
}

.form-wrapper .form-display form #toLangList {
  pointer-events: none;
}

.form-wrapper .form-display form input {
  accent-color: #FE3B1F;
  width: 455px;
  max-width: 100%;
  border: 1px #525557 solid;
  padding: 1rem 12.6rem .8rem 3.5rem;
  margin: 1.063rem 0;
}

.form-wrapper .form-display form select {
  width: 455px;
  max-width: 100%;
  border: 1px #525557 solid;
  padding: 1rem 12.6rem .8rem 3.5rem;
  margin: 1.063rem 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../media/svg/Vector.svg) no-repeat 97% 50%;
  outline: none;
}

.form-wrapper .form-display form select option {
  color: #FE3B1F;
}

.form-wrapper .form-display form select option:disabled {
  color: #0000004b;
}

.form-wrapper .form-display form #number {
  width: 455px;
  max-width: 100%;
  position: relative;
}

.form-wrapper .form-display form #number input {
  border: 1px #525557 solid;
  padding: 1rem 12.6rem .8rem 3.5rem;
  margin: 1.5rem 0;
}

.form-wrapper .form-display form #number span {
  position: absolute;
  top: 53.5%;
  left: 3%;
  -webkit-transform: translate(-3%, -53.5%);
          transform: translate(-3%, -53.5%);
}

.form-wrapper .form-display form ::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #454545;
  font-style: italic;
  opacity: 1;
}

.form-wrapper .form-display form :-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #454545;
  font-style: italic;
  opacity: 1;
}

.form-wrapper .form-display form ::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #454545;
  font-style: italic;
  opacity: 1;
}

.form-wrapper .form-display form ::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #454545;
  font-style: italic;
  opacity: 1;
}

.form-wrapper .form-display form input::-webkit-outer-spin-button,
.form-wrapper .form-display form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-wrapper .form-display form .radio-box {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin-top: 1.28rem;
}

.form-wrapper .form-display form .radio-box .radio-box:nth-child(1) {
  margin-top: unset;
}

.form-wrapper .form-display form .radio-box p {
  margin: 0;
  font-size: 1.125rem;
}

.form-wrapper .form-display form .radio-box input {
  width: unset;
  max-width: unset;
  padding: unset;
  margin: .81rem 0;
}

.form-wrapper .form-display form .radio-box input[type=date], .form-wrapper .form-display form .radio-box input[type=text] {
  width: 455px;
  max-width: 100%;
  border: 1px #525557 solid;
  padding: .875rem 1.37rem;
  position: relative;
}

.form-wrapper .form-display form .radio-box input[type=text], .form-wrapper .form-display form .radio-box input[type=date] {
  background: url(../media/svg/calendar.svg) no-repeat 95% 50%;
}

.form-wrapper .form-display form .radio-box ::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

.form-wrapper .form-display form .radio-box p {
  white-space: nowrap;
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
}

.form-wrapper .form-display form .radio-box textarea {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.5rem;
  width: 535px;
  height: 122px;
  max-width: 100%;
  display: block;
  resize: none;
  border: 1px #525557 solid;
  padding: 1.5rem;
}

.form-wrapper .form-display .langlist-wrapper {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .form-display .langlist-wrapper .langlist-box {
  width: 455px;
  max-width: 100%;
  border: 1px #525557 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem auto;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  color: #454545;
  font-size: .875rem;
  line-height: 1rem;
}

.form-wrapper .form-display .langlist-wrapper .langlist-box .experience {
  margin-right: 6.5rem;
}

.form-wrapper .form-display .langlist-wrapper .langlist-box .removeLang {
  cursor: pointer;
}

.form-wrapper .form-display .skill-select {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-wrapper .form-display .pagination-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9.4rem auto 0 auto;
  width: 230px;
}

.form-wrapper .form-display .pagination-parent .page-dot {
  cursor: pointer;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  opacity: .1;
  margin: 0 7.5px;
  background-color: #FE3B1F;
}

.form-wrapper .form-display .pagination-parent .active {
  background-color: #FE3B1F;
  opacity: 1;
}

.form-wrapper .form-display .pagination-parent #prev {
  cursor: pointer;
  margin-right: 10.5px;
}

.form-wrapper .form-display .pagination-parent #next {
  cursor: pointer;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  margin-left: 10.5px;
}

.form-wrapper .about-display {
  width: 50%;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}

.form-wrapper .about-display h1 {
  margin: 0;
  text-align: left;
  font-size: 4rem;
  line-height: 4.5rem;
  color: #FE3B1F;
  font-family: 'Rowdies', cursive;
  margin: 8.2rem auto;
  max-width: 705px;
  white-space: nowrap;
}

.form-wrapper .about-display p {
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  max-width: 705px;
}

.form-wrapper .err-text {
  margin-left: 3.5rem;
  color: #FE3B1F;
  font-size: .69rem;
  line-height: .8rem;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.submit-section {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit-section button {
  cursor: pointer;
  width: 24.6rem;
  height: 5rem;
  background-color: #FE3B1F;
  font-size: 2.25rem;
  line-height: 2.75rem;
  border-radius: 3.125rem;
  color: #FFF;
}

.submit-section p {
  cursor: pointer;
  font-size: 1.75rem;
  line-height: 2.125rem;
  text-decoration: underline;
  color: #FFF;
}

.submit-section .defaultHeading {
  margin: 0;
  text-align: center;
  font-size: 4rem;
  line-height: 4.87;
  color: #FE3B1F;
  font-family: 'Rowdies', cursive;
}

.submitted-section {
  width: 1154px;
  max-width: 100%;
  margin: 0 auto;
}

.submitted-section h3 {
  font-family: 'Rowdies', cursive;
  color: #FFF;
  font-size: 3.5rem;
  line-height: 4.35rem;
}

.submitted-section .app-wrapper {
  margin: .5rem 0;
}

.submitted-section .app-wrapper .app-header {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FE3B1F;
  padding: .75rem 1.25rem;
  cursor: pointer;
}

.submitted-section .app-wrapper .app-header span {
  font-weight: lighter;
  font-family: 'Rowdies', cursive;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFF;
}

.submitted-section .app-wrapper .app-header path {
  fill: #FFF;
}

.submitted-section .app-wrapper .app-body {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 0;
  overflow: hidden;
  background-color: #FFF;
}

.submitted-section .app-wrapper .app-body .radio-button {
  position: relative;
}

.submitted-section .app-wrapper .app-body .radiobtn {
  pointer-events: none;
  accent-color: #454545;
  opacity: 0;
  display: none;
}

.submitted-section .app-wrapper .app-body .checkmark {
  position: absolute;
  top: 6px;
  left: -17px;
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  border: 1px #000 solid;
}

.submitted-section .app-wrapper .app-body .checkmark .inner-checkmark {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
  border: 1px #000 solid;
}

.submitted-section .app-wrapper .app-body .radio-button {
  margin: .3rem 0;
}

.submitted-section .app-wrapper .app-body h6 {
  font-style: italic;
  text-decoration: underline;
  color: #FE3B1F;
  font-size: 1.125rem;
  line-height: 1.37rem;
  text-transform: capitalize;
}

.submitted-section .app-wrapper .app-body .personal, .submitted-section .app-wrapper .app-body .skillset, .submitted-section .app-wrapper .app-body .insights, .submitted-section .app-wrapper .app-body .covid {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.submitted-section .app-wrapper .app-body .personal, .submitted-section .app-wrapper .app-body .covid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10rem;
}

.submitted-section .app-wrapper .app-body .personal .info-wrapper, .submitted-section .app-wrapper .app-body .covid .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

.submitted-section .app-wrapper .app-body .personal .info-wrapper p, .submitted-section .app-wrapper .app-body .covid .info-wrapper p {
  color: #000;
  font-size: .75rem;
  white-space: nowrap;
  font-style: italic;
  font-weight: 400;
}

.submitted-section .app-wrapper .app-body .personal .info-wrapper .creditals p, .submitted-section .app-wrapper .app-body .covid .info-wrapper .creditals p {
  color: #454545;
}

.submitted-section .app-wrapper .app-body .personal p, .submitted-section .app-wrapper .app-body .covid p {
  font-size: 1.125rem;
}

.submitted-section .app-wrapper .app-body .personal label, .submitted-section .app-wrapper .app-body .covid label {
  font-size: .875rem;
}

.submitted-section .app-wrapper .app-body .personal input[type=text], .submitted-section .app-wrapper .app-body .covid input[type=text] {
  width: 390px;
  max-width: 100%;
  border: 1px #525557 solid;
  padding: .875rem 1.37rem;
  position: relative;
  background: url(../media/svg/calendar.svg) no-repeat 95% 50%;
  pointer-events: none;
}

.submitted-section .app-wrapper .app-body .skillset, .submitted-section .app-wrapper .app-body .insights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10rem;
  padding-left: 3rem;
}

.submitted-section .app-wrapper .app-body .skillset .skill, .submitted-section .app-wrapper .app-body .insights .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.submitted-section .app-wrapper .app-body .skillset span, .submitted-section .app-wrapper .app-body .insights span {
  font-style: italic;
}

.submitted-section .app-wrapper .app-body .skillset p, .submitted-section .app-wrapper .app-body .insights p {
  font-size: .875rem;
  font-style: italic;
  margin: .5rem 0;
}

.submitted-section .app-wrapper .app-body .skillset label, .submitted-section .app-wrapper .app-body .insights label {
  font-size: .875rem;
}

.submitted-section .app-wrapper .app-body .insights p:nth-child(1) {
  margin-top: unset;
  font-size: 1.125rem;
  font-style: normal;
}

.submitted-section .app-wrapper .app-body .insights .textarea-wrapper {
  margin-top: 4.5rem;
}

.submitted-section .app-wrapper .app-body .insights .textarea-wrapper textarea {
  pointer-events: none;
  font-family: 'Montserrat', sans-serif;
  width: 369px;
  height: 122px;
  max-width: 100%;
  display: block;
  resize: none;
  border: 1px #525557 solid;
  padding: 1.5rem;
}

.submitted-section .app-wrapper .active {
  height: unset;
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=global.css.map */