@keyframes slideup {
    0% {
        top: 100%;
        left: 51%;
        transform: translate(-100%, -50%);
    } 100% {
        top: 93%;
        left: 50%;
        transform: translate(-93%, -50%);
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
        top: 93%;
        left: 50%;
        transform: translate(-93%, -50%);
    } 100% {
        opacity: 0;
        top: 93%;
        left: 50%;
        transform: translate(-93%, -50%);
    }
}