@import "./keyframes"; 
@import "./variables";

body {
    height: 100vh;
    background: url(../media/png/stars.png), $primary-bg;
    background-position: center;
}

.home-view {
    width: 1090px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0;
        text-align: center;
        font-size: 6rem;
        color: $redberry-red;
        font-family: 'Rowdies', cursive;
        margin: 10.3rem 0 6.5rem 0;
    }
    .nav {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            cursor: pointer;
        }
        button:nth-child(1){
            background-color: $redberry-red;
            width: 24.6rem;
            height: 4.9rem;
            border-radius: 3.125rem;
            font-size: 1.5rem;
            line-height: 1.83rem;
            color: $primary-white;
            font-family: 'Montserrat', sans-serif;
        }
        button:nth-child(2){
            background-color: transparent;
            font-size: 24px;
            line-height: 1.83rem;
            color: $primary-white;
            font-family: 'Montserrat', sans-serif;
            border-bottom: $primary-white solid 2px;
            width: max-content;
            padding: 0;
            margin: 1.125rem 0;
        }
    }
    img {
        user-select: none;
        width: 37.525%;
        min-width: 25.577rem;
    }
}

.form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .form-display {
        width: 50%;
        h1 {
            margin: 0;
            text-align: center;
            font-size: 4rem;
            line-height: 4.5rem;
            color: $redberry-red;
            font-family: 'Rowdies', cursive;
            margin: 6.6rem 6.5rem;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 455px;
            margin: 0 auto;
            #exp {
                padding: 1rem 10.2rem 0.8rem 3.5rem;
            }
            .default-button {
                font-size: .75rem;
                line-height: .9rem;
                font-family: 'Montserrat', sans-serif;
                padding: .5rem .2rem;
                color: $primary-white;
                background-color: $redberry-red;
            }
            #toLangList {
                pointer-events: none;
            }
            input {
                accent-color: $redberry-red;
                width: 455px;
                max-width: 100%;
                border: 1px $primary-stroke solid;
                padding: 1rem 12.6rem .8rem 3.5rem;
                margin: 1.063rem 0;
            }
            select {
                width: 455px;
                max-width: 100%;
                border: 1px $primary-stroke solid;
                padding: 1rem 12.6rem .8rem 3.5rem;
                margin: 1.063rem 0;
                appearance:none;
                background: url(../media/svg/Vector.svg) no-repeat 97% 50%;
                outline: none;
                option {
                    color: $redberry-red;
                }
                option:disabled {
                    color: #0000004b;
                }
            }
            #number {
                width: 455px;
                max-width: 100%;
                position: relative;
                input {
                    border: 1px $primary-stroke solid;
                    padding: 1rem 12.6rem .8rem 3.5rem;
                    margin: 1.5rem 0;
                }
                span {
                    position: absolute;
                    top: 53.5%;
                    left: 3%;
                    transform: translate(-3%, -53.5%);
                }
            }
            ::placeholder { 
                font-family: 'Montserrat', sans-serif;
                color: $primary-grey;
                font-style: italic;
                opacity: 1; 
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .radio-box {
                font-family: 'Montserrat', sans-serif;
                color: $primary-black;
                margin-top: 1.28rem;
                .radio-box:nth-child(1) {
                    margin-top: unset;
                }
                p {
                    margin: 0;
                    font-size: 1.125rem;
                }
                input {
                    width: unset;
                    max-width: unset;
                    padding: unset;
                    margin: .81rem 0;
                }
                input[type=date], input[type=text] {
                    width: 455px;
                    max-width: 100%;
                    border: 1px $primary-stroke solid;
                    padding: .875rem 1.37rem;
                    position: relative;
                }
                input[type=text], input[type=date] {
                    background: url(../media/svg/calendar.svg) no-repeat 95% 50%;
                }
                ::-webkit-calendar-picker-indicator {
                    color: transparent;
                    background: none;
                    z-index: 1;
                }
                p {
                    white-space: nowrap;
                    font-size: 1.125rem;
                    font-family: 'Montserrat', sans-serif;
                }
                textarea {
                    font-family: 'Montserrat', sans-serif;
                    margin-top: 1.5rem;
                    width: 535px;
                    height: 122px;
                    max-width: 100%;
                    display: block;
                    resize: none;
                    border: 1px $primary-stroke solid;
                    padding: 1.5rem;
                }
            }
        }
        .langlist-wrapper {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            .langlist-box {
                width: 455px;
                max-width: 100%;
                border: 1px $primary-stroke solid;
                display: flex;
                padding: .875rem;
                justify-content: space-between;
                align-items: center;
                margin: .5rem auto;
                font-style: italic;
                font-family: 'Montserrat', sans-serif;
                color: $primary-grey;
                font-size: .875rem;
                line-height: 1rem;
                .experience {
                    margin-right: 6.5rem;
                }
                .removeLang {
                    cursor: pointer;
                }
            }
        }
        .skill-select {
            align-items: flex-end;
        }
        .pagination-parent {
            display: flex;
            align-items: center;
            margin: 9.4rem auto 0 auto;
            width: 230px;
            .page-dot {
                cursor: pointer;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                opacity: .1;
                margin: 0 7.5px;
                background-color: $redberry-red;
            }
            .active {
                background-color: $redberry-red;
                opacity: 1;
            }
            #prev {
                cursor: pointer;
                margin-right: 10.5px;
            }
            #next {
                cursor: pointer;
                transform: scaleX(-1);
                margin-left: 10.5px;
            }
        }
    }
    .about-display {
        width: 50%;
        height: 100vh;
        background: $primary-bg;
        h1 {
            margin: 0;
            text-align: left;
            font-size: 4rem;
            line-height: 4.5rem;
            color: $redberry-red;
            font-family: 'Rowdies', cursive;
            margin: 8.2rem auto;
            max-width: 705px;
            white-space: nowrap;
        }
        p {
            margin: 0 auto;
            font-size: 1.5rem;
            line-height: 3rem;
            color: $primary-white;
            font-family: 'Montserrat', sans-serif;
            max-width: 705px;
        }
    }
    .err-text {
        margin-left: 3.5rem;
        color: $redberry-red;
        font-size: .69rem;
        line-height: .8rem;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
    }
}

.submit-section {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: $primary-bg;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        cursor: pointer;
        width: 24.6rem;
        height: 5rem;
        background-color: $redberry-red;
        font-size: 2.25rem;
        line-height: 2.75rem;
        border-radius: 3.125rem;
        color: $primary-white;
    }
    p {
        cursor: pointer;
        font-size: 1.75rem;
        line-height: 2.125rem;
        text-decoration: underline;
        color: $primary-white;
    }
    .defaultHeading {
        margin: 0;
        text-align: center;
        font-size: 4rem;
        line-height: 4.87;
        color: $redberry-red;
        font-family: 'Rowdies', cursive;
    }
}

.submitted-section {
    width: 1154px;
    max-width: 100%;
    margin: 0 auto;
    h3 {
        font-family: 'Rowdies', cursive;
        color: $primary-white;
        font-size: 3.5rem;
        line-height: 4.35rem;
    }
    .app-wrapper {
        margin: .5rem 0;
        .app-header {
            width: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;
            background-color: $redberry-red;
            padding: .75rem 1.25rem;
            cursor: pointer;
            span {
                font-weight: lighter;
                font-family: 'Rowdies', cursive;
                font-size: 0.875rem;
                line-height: 1rem;
                color: $primary-white;
            }
            path {
                fill: $primary-white;
            }
        }
        .app-body {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 0;
            overflow: hidden;
            background-color: $primary-white;
            .radiobtn {
                pointer-events: none;
                accent-color: $primary-grey;
            }
            .radio-button {
                margin: .3rem 0;
            }
            h6 {
                font-style: italic;
                text-decoration: underline;
                color: $redberry-red;
                font-size: 1.125rem;
                line-height: 1.37rem;
                text-transform: capitalize;
            }
            .personal, .skillset, .insights, .covid {
                flex: 1 50%;
            }
            .personal, .covid {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                padding-left: 10rem;
                .info-wrapper {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    p {
                        color: $primary-black;
                        font-size: .75rem;
                        white-space: nowrap;
                        font-style: italic;
                        font-weight: 400;
                    }
                    .creditals {
                        p {
                            color: $primary-grey;
                        }
                    }
                }
                p {
                    font-size: 1.125rem;
                }
                label {
                    font-size: .875rem;
                }
                input[type=text] {
                    width: 390px;
                    max-width: 100%;
                    border: 1px $primary-stroke solid;
                    padding: .875rem 1.37rem;
                    position: relative;
                    background: url(../media/svg/calendar.svg) no-repeat 95% 50%;
                    pointer-events: none;
                }
            }
            .skillset, .insights {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                padding-right: 10rem;
                padding-left: 3rem;
                .skill {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 70%;
                }
                span {
                    font-style: italic;
                }
                p {
                    font-size: .875rem;
                    font-style: italic;
                    margin: .5rem 0;
                }
            }
            .insights {
                p:nth-child(1) {
                    margin-top: unset;
                    font-size: 1.125rem;
                    font-style: normal;
                }
                .textarea-wrapper {
                    margin-top: 4.5rem;
                    textarea {
                        pointer-events: none;
                        font-family: 'Montserrat', sans-serif;
                        width: 369px;
                        height: 122px;
                        max-width: 100%;
                        display: block;
                        resize: none;
                        border: 1px $primary-stroke solid;
                        padding: 1.5rem;
                    }
                }
            }
        }
        .active {
            height: unset;
            padding-bottom: 2rem;
        }
    }
}

.hidden {
    display: none;
}