$redberry-red: #FE3B1F;
$primary-red: #EB3535;
$primary-white: #FFF;
$primary-black: #000;
$primary-stroke: #525557;
$primary-grey: #454545;
$primary-bg: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);